# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd



# Virtual environments
venv/
.env/
.venv/

# Django specific
/media/
staticfiles/
*.log

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Byte-compiled / cache
*.egg-info/
